    <!-- NAVBAR -->
    <nav>
        <!-- REGULAR NAV -->
        <div class="nav-nav">
            <div class="nav-holder nav-left">
                <img loading="lazy" class="nav-logo shake" src="{{site.data.header.logo_image}}" draggable="false"
                    alt="logo" />
                <span class="nav-link nav-link-main">
                    <a class="ul ul-1" href="#" target="_self">CSCI 0220</a>
                </span>
            </div>
            <div class="nav-holder nav-left">
                {% for section in site.data.header.sections %}
                    {% if forloop.index > 1 %}
                        <span class="nav-link">
                            <a class="ul ul-{{forloop.index}}" href="#{{ section.name | downcase }}" target="_self">{{ section.name }}</a>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- MOBILE NAV -->
        <div id="navholder-mobile" class="navholder-mobile">
            <a class="closebtn" onclick="toggleNav()">☰</a>
            <div class="navholder-content">
                {% for section in site.data.header.sections %}
                    {% if forloop.index == 1 %}
                        <a class="ul ul-{{forloop.index}}" href="#" onclick="toggleNav()"  target="_self">{{section.name}}</a>

                    {% else %}
                        <a class="ul ul-{{forloop.index}}" onclick="toggleNav()" href="#{{ section.name | downcase }}" target="_self">{{section.name}}</a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

        <!-- MOBILE NAV BUTTON -->
        <span class="hamburger" onclick="toggleNav()">☰</span>
    </nav>
