
<section id="landing">
            <div class="landing-container">
                <div>
                    <h1 class="landing-title">{{site.data.landing.class}}</h1>
                    <h2 class="landing-subtitle">{{site.data.landing.name}}</h2>

                    <p>
                        {{ site.data.landing.location_description }}
                    </p>
                    <p>
                        {{ site.data.landing.main_description }}
                    </p>
                    
                <p>
                    {{ site.data.landing.theme_description }}
                </p>
                    <!-- TODO! -->
                </div>
                <div class="landing-logo-container">
                    <img loading="lazy" id="astronaut" class="landing-logo shake"
                        src="{{site.data.landing.logo_pic}}" draggable="false" alt="teacup" />
                </div>
            </div>
        </section>