<section id="lectures" class="anchor">
    <div class="wrapper">
        <h1 class="ul ul-2 section-text">{{site.data.lectures.title}}</h1>
        <img loading="lazy" class="drink-1 shake inter-photo" id="eggnog" src="{{site.data.lectures.lectures_photo}}"
            draggable="false" alt="chai" />
    </div>
    <table>
        <tr>
            {% for item in site.data.lectures.section_titles %}
            <th>{{item}}</td>
            {% endfor %}
        </tr>
        {% for lecture in site.data.lectures.lectures %}
            <tr>
                <td>{{lecture.number}}</td>
                <td>{{lecture.date}}</td>
                <td>
                    {% if lecture.number == "-" or lecture.slides == "" %}
                    {{lecture.name}}
                    {% else %}
                    {% assign path = '/assets/slides/Lecture' | append: lecture.number | append: '.pdf' %}
                    {% assign slides_exist = false %}
                    {% for static_file in site.static_files %}
                      {% if static_file.path == path %}
                        {% assign slides_exist = true %}
                      {% endif %}
                    {% endfor %}
                    {% if slides_exist == true %}
                        <a href="./{{ path }}" target="_blank">{{lecture.name}}</a>
                    {% else %}
                        {{ lecture.name }}
                    {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if lecture.number == "-" or lecture.video == "" %}
                    -
                    {% else %}
                    <a href="{{ lecture.video }}" target="_blank">Video</a>
                    {% endif %}
                </td>        
            </tr>

        {% endfor %}

    </table>
</section>