
<div class=lightbox>
    <p>{{site.data.recitations.description}} Also, if you need 
          to miss a recitation and need to request an absence, fill out the form <a target="_blank" 
          href="{{site.data.recitations.absence_form}}">here</a>.</p>
    <p>
</div>
<table>
    <tr>
        {% for item in site.data.recitations.section_titles %}
        <th>{{item}}</th>
        {% endfor %}
    </tr>
    {% for recitation in site.data.recitations.recitations %}
    <tr>
        <td>
          {% if recitation.link == "" %}
            -
          {% else %}
            <a href="{{ recitation.link }}" target="_blank">{{recitation.name}}</a>
          {% endif %}
        </td>
        <td>
          {% if recitation.template == "" %}
            -
          {% else %}
            <a href="https://www.overleaf.com/docs?snip_uri=https://cs22.io{{ recitation.template }}" target="_blank">Overleaf Template</a>
          {% endif %}
        </td>
        <td>{{recitation.released}}</td>
        <td>
            {% if recitation.solution == "" %}
              -
            {% else %}
              <a href="{{ recitation.solution }}" target="_blank">Solution</a>
            {% endif %}
          </td>

    </tr>
    {% endfor %}


</table>