<section id="resources" class="anchor">
    <div class="wrapper">
        <h1 class="ul ul-2 section-text">{{site.data.resources.title}}</h1>
        <img loading="lazy" class="drink-1 shake inter-photo" id="teapot" src="{{site.data.resources.resources_photo}}"
            draggable="false" alt="chai" />
    </div>
    <div class="lightbox">
        <h2>{{site.data.resources.ct_name}}</h2>
        <a href="{{site.data.resources.textbook_link}}">
            Mathematics for Computer Science &mdash; Lehman, Leighton, Meyer
        </a>
        <p>
            {{site.data.resources.ct_description}}
        </p>

        <h2>Course Documentation</h2>
                <ul>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/course-documentation/missive.pdf">
                            Course Missive
                        </a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/course-documentation/collaboration-policy.pdf">
                            Collaboration Policy</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/course-documentation/hours-and-recitation.pdf">
                            Hours and Recitation Policy
                        </a>
                    </li>
                </ul>

                <h2>Important Links</h2>
                <ul>
                    <li><a href="https://edstem.org/us/courses/53597/discussion/">
                            EdStem</a></li>
                    <li><a
                        href="https://www.gradescope.com/courses/719940">
                        Gradescope</a></li>
                    <!-- TODO! -->
                    <li><a
                            href="https://forms.gle/tBrLbQEKUVBqi2nK8">
                            Anonymous Feedback Form</a></li>
                    <li><a href="https://forms.gle/hyMA2uj9cCcNBDiV8">
                            Extension Request Form</a></li>
                    <li><a href="https://forms.gle/CD9WmAxzTHfAyEkT9">
                            Recitation Absence Form</a></li>
                    <li>
                        <a
                            href="https://brown.hosted.panopto.com/Panopto/Pages/Sessions/List.aspx#folderID=%225c90a032-cb99-4c7c-872b-b0f9010cac7b%22">
                            Lecture Recordings/Livestream
                        </a>
                    </li>
                </ul>

                <h2>Homework Resources</h2>
                <p>
                    For many of you, this is your first time writing proofs, and even for those who have written proofs
                    before, what we consider a good proof in CS22 likely differs from what made a good proof wherever
                    you were writing them before! Check out the proof virtues document below to acquaint yourself with
                    what we
                    consider a good proof in CS22. <b> Your proofs will be graded with respect to this document </b>, so
                    be sure to read
                    it
                    carefully, and come to hours with any questions.
                <ul>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/homework-resources/proof-virtues.pdf">Proof
                            Virtues</a>
                    </li>
                </ul>
                <h2>Lean Resources</h2>
                <ul>
                    <li>
                        <a href="https://github.com/brown-cs22/CS22-Lean-2024">Lean Github</a>
                    </li>
                    <li>
                        <a
                            href="https://docs.cs22.io/">Class
                            Lean Documentation</a>
                    </li>
                </ul>

                <h2>Math Resources</h2>
                <ul>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/math-resources/givens.pdf">What don't I have to
                            prove?</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/math-resources/sets.pdf">Set Identities</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/math-resources/logic.pdf">Logical
                            Equivalences</a>
                    </li>
                </ul>

                <h2>Sample Proofs</h2>
                <ul>
                    <li>
                        <a
                            href="https://brown-cs22.github.io/resources/sample-proofs/bidirectional.pdf">Bidirectional</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/bijection.pdf">Bijective Proof
                            Sketch</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/web/static/files/bijective_proofs.pdf">More
                            Bijective Proof Sketches</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/web/static/files/bijective_strategies.pdf">Bijective
                            Strategies</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/cases.pdf">Cases</a>
                    </li>
                    <li>
                        <a
                            href="https://brown-cs22.github.io/resources/sample-proofs/contradiction.pdf">Contradiction</a>
                    </li>
                    <li>
                        <a
                            href="https://brown-cs22.github.io/resources/sample-proofs/contraposition.pdf">Contraposition</a>
                    </li>
                    <li>
                        <a
                            href="https://brown-cs22.github.io/resources/sample-proofs/counterexample.pdf">Counterexample</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/equivalence-relations.pdf">Equivalence
                            Relations</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/induction.pdf">Induction</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/more-induction.pdf">More
                            Induction</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/strong-induction.pdf">Strong
                            Induction</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/probability.pdf">Probability</a>
                    </li>
                    <li>
                        <a href="https://brown-cs22.github.io/resources/sample-proofs/set-equivalence.pdf">Set
                            Equivalence</a>
                    </li>
                </ul>
                <p>
                    The LaTeX files to all the above resources can be found <a
                        href="https://www.overleaf.com/read/bhypnskcpchq">here</a>.
                </p>

                <h2>LaTeX Resources</h2>
                <p>
                    LaTeX (pronounced <em>la-tek</em>) is a program that you will be using to make your homework
                    solutions
                    look beautiful. The sample proofs above were written in LaTeX to give you an idea of what documents
                    written
                    in LaTeX look like. LaTeX allows you to incorporate mathematical notation into your proofs, and
                    because
                    this class involves a healthy dose of mathematical notation, LaTeX is going to be very useful! Using
                    LaTeX is
                    required after the 2nd homework.
                </p>
                <p>
                    We don't expect you've ever done this whole LaTeX business before, and that's why we're giving you
                    some
                    time to learn it! To get started, we recommend creating an account on
                    <a href="https://www.overleaf.com">Overleaf</a>, an online program for writing and compiling LaTeX.
                    After you do that, here are some links to check out:
                    <strong>
                        Honestly, please use <a href="https://www.overleaf.com">Overleaf</a>.
                        It's so much easier than installing anything on your computer. Trust me.
                    </strong>
                </p>

                <ul>
                    <li>
                        <a href="https://brown-cs22.github.io/web/static/files/latex.pdf">CS22 LaTeX Cheat
                            Sheet</a> (start here!)
                    </li>
                    <li>
                        <a target="_blank"
                            href="https://brown.zoom.us/rec/play/wjv2PP6-jvo97vc97rH79qXsTATb1tBMITzK7cPCMKDr8W1MtPvxQyEFDgzrveLNQII2AcKY6-Gans4f.gqArLQUbKFq9JZQ0?continueMode=true">
                            LaTeX GearUp Recording</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.overleaf.com/project/63dbc5fa88c0208e640cd153"> LaTeX
                            GearUp Notes</a>
                    </li>
                    <li>
                        <a href="http://cs.brown.edu/about/system/managed/latex/doc/lshort.pdf">A Not So Short
                            Introduction to LaTeX</a>
                    </li>
                    <li>
                        <a href="static/files/symbols.pdf">LaTeX Symbols Guide</a>
                    </li>
                    <li>
                        <a href="http://www.artofproblemsolving.com/wiki/index.php/LaTeX">Art of Problem Solving:
                            LaTeX</a>
                    </li>
                    <li>
                        <a href="http://en.wikibooks.org/wiki/LaTeX/Introduction">LaTeX Intro Wikibook</a>
                    </li>
                    <li>
                        <a href="http://cs.brown.edu/about/system/managed/latex/">LaTeX on Brown CS Systems</a>
                    </li>
                    <!-- Rerecording the lecture this year
                    <li>
                        <a
                            href="https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=a8a3c9c8-4e7c-470a-a6f6-ae370143ee63">CS22
                            LaTeX Workshop Recording</a>
                    </li> -->
                </ul>

                <p>
                    In general, a really good resource for learning LaTeX is the web. When you have a question, google
                    it,
                    and you'll likely find someone who had the very same question!
                </p>

                <p>If you'd like to download LaTeX on your computer, here are some resources to do that: </p>
                <ul>
                    <li>
                        <a href="http://miktex.org/2.9/setup">MiKTeX</a> (Windows)
                    </li>
                    <li>
                        <a href="http://www.tug.org/mactex">MacTeX</a> (Mac)
                    </li>
                    <li>
                        <a href="http://www.xm1math.net/texmaker/">Texmaker</a> (Cross Platform)
                    </li>
                </ul>

                <p>
                    If you're using LaTeX and you just don't know what the code for some symbol is, here is a helpful
                    list to start:
                </p>
                <p>
                    <a href="https://oeis.org/wiki/List_of_LaTeX_mathematical_symbols">Common LaTeX symbols</a>
                </p>

                <p>Alternatively, this is a neat site which will return the LaTeX code based on handwritten input
                    (although searching your question on the web is likely more efficient):
                </p>
                <p>
                    <a href="http://detexify.kirelabs.org/classify.html">DeTeXify</a>
                </p>
    </div>
</section>
