<section id="staff" class="anchor">
    <div class="wrapper">
        <h1 class="ul ul-2 section-text">Staff</h1>
        <img loading="lazy" class="drink-1 shake" id="tea" src="static/img/drinks/tea.png" draggable="false"
            alt="chai" />
    </div>
    <div class="lightbox">
        <h2>Contact</h2>
        <ul>
            <li><a href="mailto:cs0220headtas@lists.brown.edu">cs0220headtas@lists.brown.edu</a></li>
            <li><a href="mailto:cs0220tas@lists.brown.edu">cs0220tas@lists.brown.edu</a></li>
        </ul>
    </div>
    <div class="staff-tiling">
        <!-- LITTMAN -->
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src={{site.data.staff.justin}}
                    alt="rob's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Robert Y. Lewis</h2>
                <p>Instructor | Brookline, MA</p>
                <p>he/him</p>
                <p>Call me Rob! I'm 50% computer scientist, 40% mathematician, and 10% philosopher, so this
                    course is pretty much my dream. I'm new this year to Brown and very excited we all get to
                    share CS 22 in 2022.</p>
                <p>fav hot beverage: a strong shot of dark espresso</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/jiahua-chen.jpg"
                    alt="jiahua's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Jiahua Chen</h2>
                <p>HTA | Shanghai, China</p>
                <p>he/him</p>
                <p>heya! I'm a sophomore studying visa+cs. I love art, photography, baking, and designing
                    things.</p>
                <p>fav hot beverage: <a href="https://en.wikipedia.org/wiki/Yuenyeung">yuenyeung</a></p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/rachel-ma.jpg"
                    alt="rachel's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Rachel Ma</h2>
                <p>HTA | Toronto, Canada</p>
                <p>she/her</p>
                <p>CS and music concentrator, often either in CIT or the music buildings (or running in
                    between), love composition, piano, and making puns with friends!</p>
                <p>fav hot beverage: hot chai latte and earl grey tea with milk</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/walter-zhang.jpeg"
                    alt="walter's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Walter Zhang</h2>
                <p>HTA | Guangzhou, China</p>
                <p>he/him</p>
                <p>I have a 850+ (and counting!) day streak on the NYT crossword</p>
                <p>fav hot beverage: black tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/nick-liu.jpeg"
                    alt="nick's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Nicholas Liu</h2>
                <p>HTA | Fairfax Station, Virginia</p>
                <p>he/him</p>
                <p>Hi! I'm a junior studying biophysics and CS. I like to run, play tennis, and listen to lofi.
                    Looking forward to working with you guys!</p>
                <p>fav hot beverage: covfefe</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/jimmy-chen.jpg"
                    alt="jimmy's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Jimmy Chen</h2>
                <p>UTA | Hangzhou, China</p>
                <p>he/him</p>
                <p>I've worked in tea plantations.</p>
                <p>fav hot beverage: green tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/linus-sun.jpeg"
                    alt="cool pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Linus Sun</h2>
                <p>UTA | Berkeley, California</p>
                <p>he/him</p>
                <p>sophomore studying cs + music!! I love rock climbing & producing/listening to music
                    (currently
                    into yves tumor, fka twigs, tyler, olivia rodrigo)</p>
                <p>fav hot beverage: milk tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/mary-lou.png"
                    alt="mary's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Mary Lou</h2>
                <p>UTA | Alpharetta, Georgia</p>
                <p>she/her</p>
                <p>Hello! I'm a senior concentrating in Biology and CS. I love baking, swimming, taking walks,
                    and watching dramas with friends.</p>
                <p>fav hot beverage: green tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/ian-gurland.png"
                    alt="ian's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Ian Gurland</h2>
                <p>UTA | Westfield, New Jersey</p>
                <p>he/him</p>
                <p>When I’m not coding, I’m probably practicing some percussion instrument or playing poker.</p>
                <p>fav hot beverage: hot chocolate</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/avi-trost.JPG"
                    alt="avi's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Avi Trost</h2>
                <p>UTA | Gaithersburg, Maryland</p>
                <p>he/him</p>
                <p>I can pop my left ankle. I can also pop my right ankle.</p>
                <p>fav hot beverage: chaider</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/mariana-alvaro.png"
                    alt="mariana's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Mariana Alvaro</h2>
                <p>UTA | Panama</p>
                <p>she/her</p>
                <p>I'm a senior concentrating in CS-Econ, and I have the cutest puppy on campus. Outside of
                    class, I love going to the beach, singing, and drawing. </p>
                <p>fav hot beverage: matcha latte</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/alex-duchnowski.jpeg"
                    alt="alex's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Alex Duchnowski</h2>
                <p>UTA | Brookline, Massachusetts</p>
                <p>he/him</p>
                <p>Three of my favorite movies are Memento, Spider-Man: Into the Spider-Verse, and The Social
                    Network. </p>
                <p>fav hot beverage: hot chocolate</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/gil-alon.jpg"
                    alt="gil's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Gil Alon</h2>
                <p>UTA | Newton, Massachusetts</p>
                <p>she/her</p>
                <p>Hi! I'm Gil and I'm a senior studying CS from Massachusetts. I love to cook and am always
                    trying out new recipes, if you have any suggestions! I'm super excited to meet all of you :)
                </p>
                <p>fav hot beverage: cappuccino</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/edward-xing.jpeg"
                    alt="edward's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Edward Xing</h2>
                <p>UTA | Westfield, New Jersey</p>
                <p>he/him</p>
                <p>Hi! I'm a junior concentrating in Applied Math-Computer Science and Economics. In my free
                    time, I enjoy playing table tennis, speedcubing, and performing magic.</p>
                <p>fav hot beverage: matcha latte</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/thomas-ottoway.jpg"
                    alt="thomas o's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Thomas Ottoway</h2>
                <p>UTA | Albany, New York</p>
                <p>he/him</p>
                <p>I am an ex-professional juggler.</p>
                <p>fav hot beverage: coffee</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/karen-hu.jpg"
                    alt="karen's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Karen Hu</h2>
                <p>UTA | Livingston, New Jersey</p>
                <p>she/her</p>
                <p>Some of my favorite things are: art, fashion, soup, cats, and music.</p>
                <p>fav hot beverage: matcha latte</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/ken-kawamura.jpg"
                    alt="ken's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Ken Kawamura</h2>
                <p>UTA | Tokyo, Japan</p>
                <p>he/him</p>
                <p>This is my fourth time TAing this class.</p>
                <p>fav hot beverage: hot chocolate</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/drinks/latte.png"
                    alt="ben fiske's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Ben Fiske</h2>
                <p>UTA | Princeton, New Jersey</p>
                <p>he/him</p>
                <p></p>
                <p>fav hot beverage: hot chocolate</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/michelle-lu.jpeg"
                    alt="michelle's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Michelle Lu</h2>
                <p>UTA | Dallas, Texas</p>
                <p>she/her</p>
                <p>Hi there! I'm a sophomore concentrating in APMA-CS. I enjoy rediscovering previous music
                    favorites, rollerblading, and as of recently, trying out various hot (instead of iced!)
                    caffeinated beverages. </p>
                <p>fav hot beverage: dirty chai latte</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/calder-hansen.jpg"
                    alt="calder's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Calder Ruhl Hansen</h2>
                <p>UTA | SF Bay Area</p>
                <p>he/him</p>
                <p>In addition to math I also enjoy coming up with new ways to produce pretty shapes. </p>
                <p>fav hot beverage: trader joe's sipping chocolate</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/ben-goff.jpg"
                    alt="ben goff's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Ben Goff</h2>
                <p>UTA | St. Louis, Missouri</p>
                <p>he/him, they/them</p>
                <p>I'm on the Brown Taekwondo team and have a hairless dog back home!</p>
                <p>fav hot beverage: second steeping of genmaicha green tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo"
                    src="static/img/staff/spring-2022/thomas-del-vecchio.jpg" alt="thomas dv's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Thomas Del Vecchio</h2>
                <p>UTA | Gaithersburg, Maryland</p>
                <p>he/him</p>
                <p>My ideal breakfast is an iced latte and blue room red velvet muffin.</p>
                <p>fav hot beverage: green tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo"
                    src="static/img/staff/spring-2022/tiger-lamlertprasertkul.jpeg" alt="tiger's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Tanadol (Tiger) Lamlertprasertkul</h2>
                <p>UTA | Bangkok, Thailand</p>
                <p>he/him</p>
                <p>Hi! I'm a sophomore from Bangkok, Thailand. I enjoy cooking, baking, and (most importantly)
                    eating! I'm basically a foodie at heart :)</p>
                <p>fav hot beverage: green tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/drinks/tea.png" alt="carmen's pfp" />
                <!-- <img loading="lazy" class="staff-photo staff-photo-hover"
                    src="static/img/constellations/virgo.jpg" alt="virgo constellation" /> -->
            </div>
            <div class="lightbox">
                <h2>Carmen Yu</h2>
                <p>UTA | Sacramento, California</p>
                <p>she/her</p>
                <p>Aside from math and CS, I enjoy music, writing, philosophy, and warm weather :)</p>
                <p>fav hot beverage: honey lemon tea</p>
            </div>
        </div>
        <div class="staff-tile">
            <div class="effect">
                <img loading="lazy" class="staff-photo" src="static/img/staff/spring-2022/lily-mayo.png"
                    alt="lily's pfp" />
            </div>
            <div class="lightbox">
                <h2>Lily Mayo</h2>
                <p>UTA | NYC, New York</p>
                <p>she/her/hers</p>
                <p>Some of my pandemic hobbies have been knitting, solving puzzles, and powerlifting!</p>
                <p>fav hot beverage: my homemade lattes :)</p>
            </div>
        </div>
</section>