<section id="staff" class="anchor">
    <div class="wrapper">
        <h1 class="ul ul-2 section-text">{{site.data.staff.title}}</h1>
        <img loading="lazy" class="drink-1 shake inter-photo" id="tea" src="{{site.data.staff.staffs_photo}}" draggable="false"
            alt="chai" />
    </div>
    <div class="lightbox">
        <h2>Contact</h2>
        <ul>
            <li><a href="mailto:cs0220headtas@lists.brown.edu">{{site.data.staff.head_ta_list_email}}</a></li>
            <li><a href="mailto:cs0220tas@lists.brown.edu">{{site.data.staff.ta_list_email}}</a></li>
        </ul>
    </div>
    <!-- INSTRUCTOR -->
    <div class="wrapper">
        <h1 class="ul ul-2 section-text">Instructor</h1>
    </div>
    <div class="staff-tiling">
        {% for i in site.data.staff.instructor %}
            <div class="staff-tile">
                <div class="effect">
                    <img loading="lazy" class="staff-photo" src="{{i.photo}}"
                        alt={{i.name}}/>
                </div>
                <div class="lightbox">
                    <h2>{{i.name}}</h2>
                    <p>{{i.role}} | {{i.hometown}}</p>
                    <p>{{i.pronouns}}</p>
                    <p>{{i.blurb}}</p>
                    <p>{{site.data.staff.theme}}: {{i.theme}}</p>
                </div>
            </div>
            </div>
        {% endfor %}
        <div class="wrapper">
            <h1 class="ul ul-2 section-text">Head TA's</h1>
        </div>
        <!-- HTA's -->
        <div class="staff-tiling">
            {% for i in site.data.staff.htas %}
            {% if i.role == "HTA" %}
            
            <div class="staff-tile">
                <div class="effect">
                    <img loading="lazy" class="staff-photo" src="{{i.photo}}"
                        alt={{i.name}}/>
                </div>
                <div class="lightbox">
                    <h2>{{i.name}}</h2>
                    <p>{{i.role}} | {{i.hometown}}</p>
                    <p>{{i.pronouns}}</p>
                    <p>{{i.blurb}}</p>
                    <p>{{site.data.staff.theme}}: {{i.theme}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>


        <!-- UTA-STA's -->

        <div class="wrapper">
            <h1 class="ul ul-2 section-text">UTA-STA's</h1>
        </div>
        <div class="staff-tiling">
            {% for i in site.data.staff.uta-sta %}
            {% if i.role == "UTA-STA" %}
            <div class="staff-tile">
                <div class="effect">
                    <img loading="lazy" class="staff-photo" src="{{i.photo}}"
                        alt={{i.name}}/>
                </div>
                <div class="lightbox">
                    <h2>{{i.name}}</h2>
                    <p>{{i.role}} | {{i.hometown}}</p>
                    <p>{{i.pronouns}}</p>
                    <p>{{i.blurb}}</p>
                    <p>{{site.data.staff.theme}}: {{i.theme}}</p>
                </div>
            </div>
            {% endif %}
    
        {% endfor %}
        </div>


        <!-- UTA's's -->
        <div class="wrapper">
            <h1 class="ul ul-2 section-text">UTA's</h1>
        </div>
        <div class="staff-tiling">
            {% for i in site.data.staff.staff %}
            <div class="staff-tile">
                <div class="effect">
                    <img loading="lazy" class="staff-photo" src="{{i.photo}}"
                        alt={{i.name}}/>
                </div>
                <div class="lightbox">
                    <h2>{{i.name}}</h2>
                    <p>{{i.role}} | {{i.hometown}}</p>
                    <p>{{i.pronouns}}</p>
                    <p>{{i.blurb}}</p>
                    <p>{{site.data.staff.theme}}: {{i.theme}}</p>
                </div>
            </div>
    
        {% endfor %}
        </div>


</section>